@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Nerko+One&family=Sofadi+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #bebebe;
    position: relative;
    height: 100vh;
}

.container {
    /* border: 1px solid yellow; */
    background-color: #FFF8DC;
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.2),
        10px 0 15px rgba(0, 0, 0, 0.2);
    height: 100vh;
}

nav {
    box-shadow:
        0px -10px 15px rgba(0, 0, 0, 0.2),
        0px 10px 15px rgba(0, 0, 0, 0.2);
}

.nav-item {
    font-family: "Comic Neue", cursive;
    margin: auto 15px auto 15px;
    transition: all 0.3s;
}

.nav-item:hover {
    opacity: 0.5;
}

#answer-area {
    margin-left: 10px;
}

select{
    text-align: center;
}